
.nav-link:hover {
    color: #ffcc00 !important;
}


.carousel-item img {
    height: 600px;
    object-fit: cover;
}

.imagen-producto-dest {
    height: 350px;
    object-fit: cover;
}

footer {
    background-color: #1a1a1a;
}

body{
    background: linear-gradient(180deg, #aaa2a2 0%, #ffffff 100%);
    
    background-attachment: fixed;

}